.projects-section {
  background-color: transparent; 
}
.projects-header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10; 
  color: white;
  pointer-events: none; 
}
.projects-title {
  font-size: 3rem;
  color: #ffffff important;
  margin-bottom: 3rem;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  width: 100%;
  max-width: 1200px;
  
}

.project-card {
  background: rgba(15, 15, 15, 0.3);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.15) !important;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(255, 255, 255, 0.5);
}

.project-img {
  width: 100%;
  
  
  aspect-ratio: 16 / 9; 
  
  object-fit: cover;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.project-tech {
  font-weight: 600;
  color: #000000;
  margin-bottom: 0.5rem;
}

.project-desc {
  color: #d1d1d1;
  font-size: 1rem;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .projects-title {
    font-size: 2.2rem;
  }

  .project-img {
    height: 150px;
  }
}
