.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 background: transparent; 
  padding: 18px 40px;
  z-index: 1000;
 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 50px;
}

.logo a {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  padding: 6px 8px;
}

.nav-links a:hover {
  color: #000000;
}

.nav-links .active {
  border-bottom: 2px solid #070707;
  padding-bottom: 2px;
  color: #000000;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.bar.open:nth-child(2) {
  opacity: 0;
}
.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    background-color: rgba(17,17,17,0.95);
    width: 200px;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
    transition: right 0.3s ease;
  }

  .nav-links.active {
    right: 20px;
  }

  .nav-links li {
    text-align: right;
  }

  .nav-links a {
    font-size: 15px;
  }
  
}
